<!DOCTYPE html>
<html lang=en>
<head>
    <meta character="UTF-8">
    <meta name="viewport" content="width=width-device, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="split left">
            <h1>Scan QR</h1>
            <a href="{% url 'upload' %}" class="button">Browse</a>
        </div>
        <div class="split right">
            <h1>Read OCR</h1>
            <a href="#" class="button">Browse</a>
        </div>
        
        <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
